@page
@model UserAddressListModel
@{
    ViewData["Title"] = "Lakcímek";
    ViewData["ActivePage"] = ManageNavPages.UserAddressList;
}

<h4>@ViewData["Title"]</h4>

<p>
    <a asp-page="./CreateUserAddress" class="btn btn-success"><i class="fas fa-plus-square"></i> Új cím hozzáadása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Irányítószám, Város
            </th>
            <th>
                Utca, házszám
            </th>
            <th>
                Telefonszám
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserAddressList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.ZipCode),
                    @Html.DisplayFor(modelItem => item.Address.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.PhoneNumber)
                </td>
                <td>
                    <a asp-page="./EditUserAddress" asp-route-addressId="@item.Id" class="btn btn-primary"><i class="fas fa-edit"></i></a> 
                    <a asp-page="./UserAddressList" onclick="return confirm('Biztosan törölni szeretnéd a címet?');" asp-page-handler="Delete" asp-route-addressId="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>